In [1]:
from cluster_degs import *
from scanpy import read
adata = read('/home/zuolulu/spatialDEG/test/results.h5ad')
find_cluster_degs(adata,group='group',test_group=5,control_groups=[1,2,3,4,5,6],genes=None,method='all')

identifying top markers for each group: 19130it [04:36, 69.22it/s]

,gene,test_group,control_group,ratio_expr,diff_ratio_expr,log2fc,pval,qval
0,MBP,5,"[1, 2, 3, 4, 5, 6]",1.000000,0.016179,0.751090,2.111704e-168,1.168828e-164
1,PLP1,5,"[1, 2, 3, 4, 5, 6]",1.000000,0.081239,0.989912,5.888916e-168,1.629758e-164
2,CRYAB,5,"[1, 2, 3, 4, 5, 6]",1.000000,0.197246,1.170201,1.091404e-163,2.013641e-160
3,CNP,5,"[1, 2, 3, 4, 5, 6]",0.997674,0.232442,1.219535,5.032653e-161,6.963933e-158
4,MOBP,5,"[1, 2, 3, 4, 5, 6]",0.983721,0.485958,1.601416,1.317005e-160,1.457925e-157
...,...,...,...,...,...,...,...,...
1443,TIA1,5,"[1, 2, 3, 4, 5, 6]",0.160465,0.034820,0.449653,2.917311e-02,4.921934e-02
1444,PHF3,5,"[1, 2, 3, 4, 5, 6]",0.153488,0.032662,0.508426,2.917591e-02,4.921934e-02
1445,STX16,5,"[1, 2, 3, 4, 5, 6]",0.195349,0.034936,0.442602,2.950237e-02,4.972461e-02
1446,IFNGR1,5,"[1, 2, 3, 4, 5, 6]",0.172093,0.034055,0.466431,2.961952e-02,4.987650e-02
1447,WASHC1,5,"[1, 2, 3, 4, 5, 6]",0.225581,0.034531,0.372474,2.961724e-02,4.987650e-02

In [2]:
from cluster_degs import *
from scanpy import read
adata = read('/home/zuolulu/spatialDEG/test/results.h5ad')
find_cluster_degs(adata,group='group',test_group=5,control_groups=[1,2,3,4,5,6],genes=None,method=None)

identifying top markers for each group: 19130it [05:14, 60.79it/s]

,gene,test_group,control_group,ratio_expr,diff_ratio_expr,log2fc,pval,qval
0,MOBP,5,3,0.983721,0.666074,3.211881,7.736265e-167,2.569214e-162
1,GFAP,5,3,1.000000,0.319328,2.297066,1.881832e-165,3.124782e-161
2,MBP,5,3,1.000000,0.005042,1.247987,1.042128e-164,1.153636e-160
3,PLP1,5,3,1.000000,0.070588,1.637184,1.603440e-164,1.331256e-160
4,CRYAB,5,3,1.000000,0.230252,1.910007,1.829638e-163,1.215246e-159
...,...,...,...,...,...,...,...,...
7929,NGDN,5,6,0.120930,0.041220,0.753768,2.376111e-02,4.961374e-02
7930,TBL1XR1,5,2,0.286047,0.098547,0.148647,2.384040e-02,4.976364e-02
7931,SMC1A,5,3,0.109302,0.035353,1.086484,2.385714e-02,4.979546e-02
7932,SELENOT,5,4,0.367442,0.090899,0.290969,2.391520e-02,4.991351e-02
7933,TNKS,5,4,0.211628,0.065949,0.314948,2.395138e-02,4.998273e-02

In [3]:
from cluster_degs import *
from scanpy import read
adata = read('/home/zuolulu/spatialDEG/test/results.h5ad')
adata = find_all_cluster_degs(adata,group='group',genes=None)

identifying top markers for each group: 19130it [04:48, 66.22it/s]
identifying top markers for each group: 19130it [04:42, 67.63it/s]
identifying top markers for each group: 19130it [04:30, 70.71it/s]
identifying top markers for each group: 19130it [04:44, 67.29it/s]
identifying top markers for each group: 19130it [04:39, 68.39it/s]
identifying top markers for each group: 19130it [04:43, 67.38it/s]
identifying top markers for each group: 19130it [04:41, 67.96it/s]

AnnData object with n_obs Ã— n_vars = 3639 Ã— 19130
    obs: 'x1', 'x2', 'x3', 'x4', 'x5', 'n_counts', 'pred', 'refined_pred', 'x_array', 'y_array', 'x_pixel', 'y_pixel', 'group'
    var: 'gene_ids', 'feature_types', 'genome', 'genename'
    uns: 'pred_colors', 'refined_pred_colors', 'cluster_markers'

In [4]:
from cluster_degs import *
from scanpy import read
adata = read('/home/zuolulu/spatialDEG/test/results.h5ad')
find_spatial_cluster_degs(test_group=5,adata=adata,x=None,y=None,group='group')

identifying top markers for each group: 19130it [04:27, 71.42it/s]

,gene,test_group,control_group,ratio_expr,diff_ratio_expr,log2fc,pval,qval
0,PLP1,5,[4],1.000000,0.024691,0.426622,3.680169e-91,1.595363e-87
1,MBP,5,[4],1.000000,0.009877,0.314678,5.764634e-91,1.595363e-87
2,CRYAB,5,[4],1.000000,0.130864,0.677633,4.276899e-83,7.890879e-80
3,CNP,5,[4],0.997674,0.133477,0.646377,1.338631e-74,1.852331e-71
4,PTGDS,5,[4],1.000000,0.054321,0.417861,2.325580e-60,2.574418e-57
...,...,...,...,...,...,...,...,...
1346,SURF4,5,[4],0.276744,0.074275,0.385660,1.717233e-02,4.912086e-02
1347,ZCRB1,5,[4],0.339535,0.085214,0.341619,1.723613e-02,4.927788e-02
1348,MRPL14,5,[4],0.197674,0.061872,0.561522,1.731316e-02,4.947254e-02
1349,PSMA2,5,[4],0.227907,0.072351,0.375229,1.735003e-02,4.953033e-02
1350,LUC7L2,5,[4],0.195349,0.066954,0.351362,1.743583e-02,4.974605e-02