In [1]:
from find_cluster_degs import *
from find_cluster_degs import find_markers
adata = read('/home/zuolulu/spatialDEG/results.h5ad')
test_group = 0
control_groups =  list(range(1,6+1))
group = 'group'
genes = ['CAMK2N1','ENC1','HPCAL1','CCK','HOPX','MALAT1','SERPINE2','TESPA1','RASGRF2','FKBP1A']
find_markers(adata,group='group',test_group=0,control_groups=[1,2,3,4,5,6],genes=genes)

identifying top markers for each group: 10it [00:00, 45.85it/s]

,gene,test_group,versus_group,ratio_expr,diff_ratio_expr,log2fc,pval,qval
0,SERPINE2,0,2,0.245455,0.158227,0.530406,1.770716e-07,0.000008
1,SERPINE2,0,5,0.245455,0.136566,0.699518,3.448821e-07,0.000008
2,SERPINE2,0,4,0.245455,0.103702,0.187296,1.537030e-03,0.024080

In [7]:
from find_cluster_degs import *
from find_cluster_degs import find_markers
adata = read('/home/zuolulu/spatialDEG/results.h5ad')
test_group = 0
control_groups =  list(range(1,6+1))
find_markers(adata,group='group',test_group=0,control_groups=[1,2,3,4,5,6])

identifying top markers for each group: 19130it [07:25, 42.92it/s]

,gene,test_group,versus_group,ratio_expr,diff_ratio_expr,log2fc,pval,qval
0,ENC1,0,5,0.998701,0.472035,2.096550,1.097800e-179,1.071167e-174
1,NRGN,0,5,0.998701,0.094257,0.947275,1.053539e-170,5.139903e-166
2,OLFM1,0,5,0.990909,0.215354,1.188827,1.345819e-157,2.626340e-153
3,CCK,0,5,0.998701,0.258701,1.298961,2.294089e-155,3.197764e-151
4,VSNL1,0,5,0.994805,0.214805,1.127600,1.969497e-149,2.402146e-145
...,...,...,...,...,...,...,...,...
21807,RAF1,0,6,0.198701,0.063516,0.221972,1.505805e-02,4.978904e-02
21808,AP3B2,0,3,0.398701,0.076750,0.222576,1.506600e-02,4.980686e-02
21809,CDO1,0,1,0.235065,0.060290,0.364489,1.507702e-02,4.983486e-02
21810,SOX9,0,1,0.189610,0.052673,0.454240,1.508155e-02,4.984644e-02
21811,DNTTIP1,0,6,0.142857,0.050265,0.313831,1.512630e-02,4.998082e-02

In [13]:
from find_cluster_degs import *
adata = read('/home/zuolulu/spatialDEG/results.h5ad')
genes = ['CAMK2N1','ENC1','HPCAL1','CCK','HOPX','MALAT1','SERPINE2','TESPA1','RASGRF2','FKBP1A']
adata = find_all_markers(adata,group='group',genes=genes)
print(adata)
print(adata.uns['cluster_markers'])

identifying top markers for each group: 10it [00:00, 44.44it/s]
identifying top markers for each group: 10it [00:00, 45.43it/s]
identifying top markers for each group: 10it [00:00, 44.86it/s]
identifying top markers for each group: 10it [00:00, 44.57it/s]
identifying top markers for each group: 10it [00:00, 45.40it/s]
identifying top markers for each group: 10it [00:00, 45.19it/s]
identifying top markers for each group: 10it [00:00, 43.12it/s]

AnnData object with n_obs Ã— n_vars = 3639 Ã— 19130
    obs: 'x1', 'x2', 'x3', 'x4', 'x5', 'n_counts', 'pred', 'group', 'x_array', 'y_array', 'x_pixel', 'y_pixel'
    var: 'gene_ids', 'feature_types', 'genome', 'genename'
    uns: 'pred_colors', 'refined_pred_colors', 'cluster_markers'
{'deg_table':        gene test_group versus_group  ratio_expr  diff_ratio_expr    log2fc  \
0  SERPINE2          0            2    0.245455         0.158227  0.530406
1  SERPINE2          0            5    0.245455         0.136566  0.699518
2  SERPINE2          0            4    0.245455         0.103702  0.187296
3  SERPINE2          1            2    0.230631         0.143403  0.599454
4  SERPINE2          1            5    0.230631         0.121742  0.768567
5  SERPINE2          3            2    0.224390         0.137163  0.522482
6  SERPINE2          3            5    0.224390         0.115501  0.691594
7  SERPINE2          6            2    0.190741         0.103513  0.482874
8  SERPINE2          6            5    0.190741         0.081852  0.651985

           pval      qval
0  1.770716e-07  0.000008
1  3.448821e-07  0.000008
2  1.537030e-03  0.024080
3  2.636761e-06  0.000124
4  5.450846e-06  0.000128
5  4.854363e-06  0.000194
6  1.137161e-05  0.000227
7  3.289115e-04  0.008881
8  1.055489e-03  0.014249  , 'de_genes': {0: ['SERPINE2'], 1: ['SERPINE2'], 2: [], 3: ['SERPINE2'], 4: [], 5: [], 6: ['SERPINE2']}}

In [15]:
from find_cluster_degs import *
adata = read('/home/zuolulu/spatialDEG/results.h5ad')
adata = find_all_markers(adata,group='group')
print(adata)
print(adata.uns['cluster_markers'])

identifying top markers for each group: 7738it [03:17, 37.82it/s]